body {
  margin: 0;
  text-align: center;
  background: black;
  color: white;
  font-family: sans-serif;
}

.vid-container video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

button {
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
}

.play {
  font-size: 20px;
}